
body{
    background-color:beige;
    color: rgb(3, 90, 105);
}

.btn-default{
    width: 40%;
    font-size: 40px;

}

.objects{
    color:royalblue;
}


hr{
    background-color: teal;
    width: 900px;
    height: 1px;
}

#camera,#result{
    width: 500px;
    height:350px;
    border-style:double;
    border-color:darkmagenta;
}